= form_for @user do |f|
  =error_messages_for @user
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, class: 'form-control'
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: 'form-control'
  -if @current_user.try(:admin?)
    .form-group
      =f.label :role
      =f.select :role, User::ROLES.map.with_index{|name,i| [name,i]}, {},class: 'form-control'
  .actions
    = f.submit nil, class: 'btn btn-primary'
